# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
env/
.venv/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/
